.color-darkcyan {
    color: darkcyan;
}
.color-avianca {
    color: rgb(255,8,20);
}
.color-linegreen {
    color: #32cd32;
}
.color-platzi {
    color: rgb(18,31,61);
}
.color-platzi-2 {
    color: rgb(191,11,255)
}