*{
    margin:0;
    padding: 0;
    }
    body {
        background-color: black;
    }
    .presentacion {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color: whitesmoke;
    }
    .content-main{
        margin: 2.2em 2.6em;
    }
    .hamburger-menu{
        font-size: 2.1em;
        position: fixed;
        top: 15px;
        left: 20px;
        cursor: pointer;
        display: block;
        color: darkcyan;
    }
    nav{
        background: darkcyan;
        height: calc(100% - 60px);
        position: fixed;
        left: -100%;
        overflow-y: auto;
        top: 60px;
        border-top: 1px solid rgb(64, 64, 64. .3);
        font-family: 'Oswald', sans-serif;
        transition: all .4s ease-in-out;
        
    }
    ul{
        list-style: none;
        font-size: 1em;
        display: block;
    }
    li{
        padding: 0 10px 0 10px;
        text-align: left;
        color: white;
        
    }
    a.menu-item{
        padding: 20px;
        text-decoration: none;
        color: rgb(240, 232, 232);
        display: block;
        border-bottom:  1px solid  rgb(64, 64, 64. .3);
        text-decoration: none;
    }
    a.menu-item:hover{
        background: darksalmon;
        font-weight: 600;
        cursor: pointer;
        color: rgb(24, 24, 24);
        border-bottom: none;
        border-radius: 5px;
        outline: 2px solid rgb(203, 223, 223);
    }
    a.menu-item:hover>i{
        color: rgb(14, 13, 13);
    }
    nav.mostrarNav{
        left: 0;
    }
    nav.mostrarNav ~ .content-main{
        margin-left: 360px;
        transition: all .4s ease;
    }
    .fas, .far {
        margin-right: 15px;
        color: rgb(64, 64, 64. .8);
        font-size: .9em;
    }
    @media (max-width:700px){
        body {
            background-color: whitesmoke;
        }
        .presentacion {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color: black;
            padding: 20%;
        }
        nav{
            background: rgb(233, 197, 197);
            width: 100%;
            font-size: 1.1em;
            overflow-x: hidden;
            border-top: none;
            font-family: 'Oswald', sans-serif;
        }
        .hamburger-menu{
            top: 0;
            padding: 10px;
            width: 100%;
            text-align: left;
            background: whitesmoke;
        }
        .fas, .far{
            margin-right: 8px;
        }
        a.menu-item:hover{
            background:  rgb(228, 205, 205);
            font-weight: 500;
            cursor: pointer;
            color: rgb(66, 65, 65);
            border-bottom: none;
        }
        li{
            text-align: center;
        }
        a.menu-item{
            color: rgb(12, 12, 12);
        }
        nav.mostrarNav ~ .content-main{
            margin-left: 2em;
            transition: all .4s ease;
        }    
    }
    