* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
h2 {
    margin-left: 28px;
}
.container-style {
    background-color: dodgerblue;

    color: white;
    font-size: 1.4em;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
}.col-style {
    border: 1px solid rgb(48, 48, 48.8);
    text-align: center;
}
.row-style {
    margin-bottom: 30px;
}