h1{
    font-family: 'Courier New', Courier, monospace;    
}
.big-font {
    font-size: 50px;
}
.fuente-normal {
    font-weight: 400;
}
.fuente-negrita {
    font-weight: bold;
}
.estilo-normal {
    font-style: normal;
}
.estilo-italico {
    font-style: italic;
}