h1{
    font-family: 'Courier New', Courier, monospace;    
}
span.titulo-lista {
    font-weight: 900;
    font-size: 1.2em;
}
p {
    font-size: 3em;
}
.spaciado-letras {
    letter-spacing: 0.1em;
}
.espaciado-palabras {
    word-spacing: 0.7em;
}
.espaciado-lineas {
    line-height: 3em;
}
