<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones Aritmeticas Practica</title>
    <link rel="stylesheet" href="css/suma-practica.css">
    <link rel="stylesheet" href="css/resta.css">
    <script src="js/resta.js"></script>
</head>
<body>
    <h3 style="text-align: center;border: 3px solid blue;">¡SUMA!</h3>
<div class="border">
<label for="numero1">Numero 1</label>
<input type="text" id="numero1" placeholder="Number-One..." onchange="sumar();"><br>

<label for="numero2">Numero 2</label>
<input type="text" id="numero2" placeholder="Number-Two..." onchange="sumar();"><br>

<label for="resultado">Resultado</label>
<input type="text" id="resultado" placeholder="Resultado...">
</div>
<script>
    // si la respuesta que se espera es sumar
    function sumar(){
        var numero1 = document.getElementById('numero1').value;
        var numero2 = document.getElementById('numero2').value;

        if(numero1!=='' && numero2!==''){
            var suma = parseInt(numero1)+parseInt(numero2);
            document.getElementById('resultado').value = suma;
        }
    }
</script><br><br><br><br><br>


<div class="container" style="border: 2;">
<form action="" class="centrar">
    <input type="text" id="numero3" placeholder="Number-One...">
    <input type="text" id="numero4" placeholder="Number-Two...">
    <input type="button" value="suma" onclick="alert( suma(10,50));">
</form>
</div>

<script>
    var suma = function (numero1, numero2){
        var numero1 = parseFloat(document.getElementById("numero3").value);
        var numero2 = parseFloat(document.getElementById("numero4").value);

        var result = numero1 + numero2;

        return result;
    }
</script><br><br>

<h1>sumar y resta</h1>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>


 

 <div ng-app="" class="style">
     <p>Num1 : <input type="number" ng-model="n1"></p>
     <p>Num2 : <input type="number" ng-model="n2"></p>
     <h4>Suma  :  {{n1+n2}}</h4>
     <h4>Resta  :  {{n1-n2}}</h4>
 </div>

<h3 style="text-align: center;border: 3px solid blue;">¡RESTA!</h3>
<script>
function cal() {
    try {
      document.f.sum.value = math.eval(document.f.expr.value);
    } catch (e) {
    }
  }
</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.6.0/math.min.js"></script>
  <form name="f" class="style-2">
    <p>Expresión: <input type="text" name="expr" value="0 - 0" onchange="cal()" onkeyup="cal()" /></p>
    <p>Resultado: <input type="text" name="sum" value="0" readonly="readonly" /></p>
  </form>
<h3 style="text-align: center;border: 3px solid blue;">¡MULTIPLICACION!</h3>

</body>
</html>