.container {
    background: green;
    height: 50px;
    width: 500px;
    margin-left: 700px;
    border-radius: 5px;
    margin-top: -165px;
    border: 3px solid orange;
}
.centrar {
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 36px;
}
.border {
    background: green;
    height: 85px;
    width: 350px;
    padding-top: 30px;
    padding-left: 50px;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 50px;
    border: 3px solid orange;
}
.style {
    background: yellow;
    height: 200px;
    width: 400px;
    padding-top: 30px;
    padding-left: 50px;
    border: 3px solid blue;
    border-radius: 5px;
}
.style-2 {
    background: yellow;
    height: 100px;
    width: 350px;
    padding-top: 25px;
    padding-left: 50px;
    border: 3px solid blue;
    border-radius: 5px;
}